{% extends '::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("lib/simplemde/dist/simplemde.min.css") }}" />
    <link rel="stylesheet" href="{{ asset('stylesheets/forum.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("lib/simplemde/debug/simplemde.js") }}"></script>
    <script src="{{ asset('scripts/forum.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="page-header page-heading">
        <h1 class="pull-left">Discussion Board</h1>
        <ol class="breadcrumb pull-right where-am-i">
            <li><a href="{{ path('forum_index') }}">Forums</a></li>
            <li class="active">List of topics</li>
        </ol>

        <div class="clearfix"></div>

    </div>
    <p class="lead"></p>
    <div class="row">
        <div class="pull-right">
            <a type="button" class="btn btn-primary " {% if app.user %}data-toggle="modal" data-target="#createTopic"{% else %}href="{{ path('login') }}"{% endif %}>
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create Topic
            </a>
        </div>
    </div>

    <table class="table forum table-striped">
        <thead>
        <tr>
            <th class="cell-stat"></th>
            <th>
                <h3>Topics in {{ forum.title }}</h3>
            </th>
            <th class="cell-stat text-center hidden-xs hidden-sm">Replies</th>
            <th class="cell-stat-2x hidden-xs hidden-sm">Last Post</th>
        </tr>
        </thead>
        <tbody>
        {% for topic in topics %}
            <tr>
                <td class="text-center"><i class="fa fa-question fa-2x text-primary"></i></td>
                <td>
                    <h4>
                        {% if topic.promise %}
                            <a href="{{ path('promises') }}#{{ topic.promise.uid }}"><i class="fa fa-commenting-o" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="{{ topic.promise.category.title }}: {{ topic.promise.title }}" ></i></a>
                        {% endif %}
                        <a href="{{ path('topic', {forum_slug: forum.slug, topic_slug: topic.slug}) }}">{{ topic.title }}</a><br />
                        <small>by {{ topic.author.displayName }}</small>
                    </h4>
                </td>
                <td class="text-center hidden-xs hidden-sm"><a href="{{ path('topic', {forum_slug: forum.slug, topic_slug: topic.slug}) }}">{{ topic|count_replies }}</a></td>
                {% set last_post = getLastReplySummary(topic) %}
                {% if last_post %}
                    <td class="hidden-xs hidden-sm">by {{ last_post.author_name }}<br><small><i class="fa fa-clock-o"></i> <a href="{{ path('topic', {forum_slug: forum.slug, topic_slug: topic.slug}) }}#{{ last_post.post_id }}">{{ last_post.post_date|time_diff }}</a></small></td>
                {% else %}
                    <td class="hidden-xs hidden-sm">N/A</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if app.user %}
        <div class="modal fade" id="createTopic" tabindex="-1" role="dialog" aria-labelledby="titleLabel">
            <div class="modal-dialog" role="document">
                {{ form_start(create_form, {'attrs': {'class': 'form-horizontal', 'novalidate': 'novalidate'}}) }}
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="titleLabel">Create New Topic</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form_widget(create_form.title, {'attr': {'class': 'form-control', 'placeholder': "Title"}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_widget(create_form.content, {'attr': {'class': 'form-control create_topic'}}) }}
                                </div>
                                <div class="form-group ">
                                    {{ form_widget(create_form.recaptcha) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        {{ form_widget(create_form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                    </div>
                </div>
                {{ form_end(create_form) }}
            </div>
        </div>
    {% endif %}
{% endblock %}