{% extends '::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('stylesheets/forum.css') }}" />
{% endblock %}

{% block content %}
        <div class="page-header page-heading">
            <h1 class="pull-left">Discussion Board</h1>
            <ol class="breadcrumb pull-right where-am-i">
                <li><a href="#">Forums</a></li>
                <li class="active">List of topics</li>
            </ol>
            <div class="clearfix"></div>
        </div>
        <p class="lead"></p>
        <table class="table forum table-striped">
            <thead>
            <tr>
                <th class="cell-stat"></th>
                <th>
                    <h3>Boards</h3>
                </th>
                <th class="cell-stat text-center hidden-xs hidden-sm">Topics</th>
                <th class="cell-stat text-center hidden-xs hidden-sm">Posts</th>
                <th class="cell-stat-2x hidden-xs hidden-sm">Last Post</th>
            </tr>
            </thead>
            <tbody>
            {% for forum in forums %}
                <tr>
                    <td class="text-center"><i class="fa fa-question fa-2x text-primary"></i></td>
                    <td>
                        <h4><a href="{{ path('forum', {slug: forum.slug}) }}">{{ forum.title }}</a><br><small>{{ forum.description }}</small></h4>
                    </td>
                    <td class="text-center hidden-xs hidden-sm"><a href="{{ path('forum', {slug: forum.slug}) }}">{{ forum|count_topics }}</a></td>
                    <td class="text-center hidden-xs hidden-sm"><a href="{{ path('forum', {slug: forum.slug}) }}">{{ forum|count_posts }}</a></td>
                    {% set last_post = getLastPostSummary(forum) %}
                    {% if last_post %}
                        <td class="hidden-xs hidden-sm">in <a href="{{ path('topic', {forum_slug: forum.slug, topic_slug: last_post.topic_slug}) }}#{{ last_post.post_id }}">{{ last_post.topic_title }}</a> by {{ last_post.author_name }}<br><small><i class="fa fa-clock-o"></i> {{ last_post.post_date|time_diff }}</small></td>
                    {% else %}
                        <td class="hidden-xs hidden-sm">N/A</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}