{% extends '::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("lib/simplemde/debug/simplemde.js") }}"></script>
    <script src="{{ asset('scripts/forum.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("lib/simplemde/dist/simplemde.min.css") }}" />
    <link rel="stylesheet" href="{{ asset('stylesheets/forum.css') }}" />
    <link rel="stylesheet" href="{{ asset('stylesheets/topic.css') }}" />
{% endblock %}

{% block content %}
    <div class="page-header page-heading">
        <h1 class="pull-left">{{ topic.title }}</h1>
        <ol class="breadcrumb pull-right where-am-i">
            <li><a href="{{ path('forum_index') }}">Forums</a></li>
            <li><a href="{{ path('forum', {slug: forum.slug}) }}">{{ forum.title }}</a></li>
            <li><a href="{{ path('topic', {forum_slug: forum.slug, topic_slug: topic.slug}) }}">{{ topic.title|truncate(50, true) }}</a></li>
            <li class="active">Page {{ page }}</li>
        </ol>
        <div class="clearfix"></div>
    </div>
    <p class="lead"></p>

    <table class="table forum table-striped">
        <thead>
        <tr>
            <th class="cell-stat"></th>
            <th></th>
            <th class="cell-stat text-center hidden-xs hidden-sm"></th>
        </tr>
        </thead>
        <tbody>
            {% set last_post = null %}
            {% for post in posts %}
                <tr class="reply hidden-xs hidden-sm">
                    <td colspan="2" class="post">
                        <div class="title">{{ post.title }}</div>
                        <div class="meta">by {{ post.author.displayName }} on {{ post.dateAdded|date("M d, Y") }}</div>
                        <div class="content">{{ post.content|markdown }}</div>
                    </td>
                    <td class="profile">
                        <div class="thumbnail" >
                            <img src="{{ post.author|gravatar(150) }}" />
                            <div class="caption">
                                <div class="username">{{ post.author.displayName }}</div>
                                <div class="meta">
                                    <div>Posts: {{ post.author.posts.count }}</div>
                                    <div>Joined {{ post.author.dateAdded|date("M d, Y") }}</div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="reply hidden-md hidden-lg">
                    <td colspan="3" class="post">
                        <div class="title">{{ post.title }}</div>
                        <div class="meta">by &nbsp; <img src="{{ post.author|gravatar(15) }}" />{{ post.author.displayName }} on {{ post.dateAdded|date("M d, Y") }}</div>
                        <div class="content">{{ post.content|markdown }}</div>
                    </td>
                </tr>
                {% if loop.last %}{% set last_post = post %}{% endif %}
            {% endfor %}
            {% if app.user %}
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    <tr>
                        <td colspan="3">
                            {{ form_widget(form.title, {'value': 'RE: '~last_post.title, 'attr': {'class': 'form-control', 'placeholder': 'Title'}}) }}
                            {{ form_widget(form.content) }}
                            {#{{ form_widget(form.recaptcha) }}#}
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            {{ form_widget(form.save, {'attr': {'class': 'btn btn-block btn-primary'}}) }}
                        </td>
                    </tr>
                {{ form_end(form)    }}
            {% endif %}
        </tbody>
    </table>
{% endblock %}