<form action="{{ path('promises') }}" method="get">
    <div class="input-group">
        <div class="input-group-btn search-panel">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span id="search_concept">Filter by</span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#all">Anything</a></li>
                <li class="divider"></li> 
                {% for cat in categories %}
                    <li><a href="#{{ cat.slug }}">{{ cat.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <input type="hidden" name="category" value="all" id="filter">
        <input type="text" class="form-control" name="q" placeholder="Search term..." value="{{ master_request.query.get('q', null) }}">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
        </span>
    </div>
</form>