{% extends 'HampeZurbInkBundle:FoundationForEmails:2/base.html.twig' %}
{% block preHtml %}
    {# add your css files here, please use a bundle relative path #}
    {{ zurb_ink_styles.add("public/css/email_basic.css") }}
{% endblock %}
{% block content %}
    <wrapper class="header">
        <container>
            <row class="collapse">
                <columns small="6">
                    <p class="header-title"><a href="{{ url('homepage') }}">O'LearyWatch.com</a></p>
                </columns>
                <columns small="6">
                    {% if subtitle %}
                        <p class="text-right">{{ subtitle }}</p>
                    {% endif %}
                </columns>
            </row>
        </container>
    </wrapper>

    <container>

        <spacer size="16"></spacer>

        <row>
            <columns small="12">
                {% block email_header %}
                    <h1>Hi, Susan Calvin</h1>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, iste, amet consequatur a veniam.</p>
                {% endblock %}
                {% block email_body %}
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut optio nulla et, fugiat. Maiores accusantium nostrum asperiores provident, quam modi ex inventore dolores id aspernatur architecto odio minima perferendis, explicabo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima quos quasi itaque beatae natus fugit provident delectus, magnam laudantium odio corrupti sit quam. Optio aut ut repudiandae velit distinctio asperiores?</p>
                    <callout class="primary">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit repellendus natus, sint ea optio dignissimos asperiores inventore a molestiae dolorum placeat repellat excepturi mollitia ducimus unde doloremque ad, alias eos!</p>
                    </callout>
                {% endblock %}
            </columns>
        </row>
        <wrapper class="secondary">

            <spacer size="16"></spacer>
            {% block email_footer %}
            <row>
                <columns large="6">
                    <h5>Connect With Us:</h5>
                    <button class="facebook expand" href="https://www.facebook.com/olearywatch">Facebook</button>
                    <button class="twitter expand" href="https://twitter.com/olearywatch">Twitter</button>
                    <button class="google expand" href="https://plus.google.com/communities/104932144512278166482">Google+</button>
                </columns>
                <columns large="6">
                    <h5>Contact:</h5>
                    <p>Email: <a href="mailto:admin@olearywatch.com">admin@olearywatch.com</a></p>
                </columns>
            </row>
            {% endblock %}
        </wrapper>
    </container>
{% endblock %}