{% extends '::layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ asset('lib/vertical-timeline/css/style.css') }}" />
{% endblock %}

{% block javascripts %}
 {{ parent() }}
	<script src="{{ asset('lib/vertical-timeline/js/modernizr.js') }}"></script>
  <script src="{{ asset('lib/vertical-timeline/js/main.js') }}"></script>
  <script>
    
  </script>
{% endblock %}

{% block content %}

		<div class="pull-right">
				<a type="button" class="btn btn-primary " {% if app.user %}data-toggle="modal" data-target="#createEvent"{% else %}href="{{ path('login') }}"{% endif %}>
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Event
				</a>
		</div>
	

   <section id="cd-timeline" class="cd-container">
		 
		 {% for event in events %}
		 
			<div class="cd-timeline-block">
				<div class="cd-timeline-img cd-picture">
					<img src="/lib/vertical-timeline/img/cd-icon-picture.svg" alt="Picture">
				</div> <!-- cd-timeline-img -->

				<div class="cd-timeline-content">
					<h2>{{ event.title }}</h2>
					<p>{{ event.content|striptags }}</p>
					{% for source in event.sources %}
						<a href="{{ source }}" target="_blank" rel="nofollow noreferrer" class="cd-read-more">Source {{ loop.index }}</a>
					{% endfor %}
					<span class="cd-date">{{ event.dateEvent|date("M, d Y") }}</span>
				</div> <!-- cd-timeline-content -->
			</div> <!-- cd-timeline-block -->
		 
		 {% endfor %}
		 
	</section>
	
	
	<div class="modal fade" id="createEvent" tabindex="-1" role="dialog" aria-labelledby="createLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="createLabel">Add New Event</h4>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-12">
                                {{ form_start(create_form, {'attrs': {'class': 'form-horizontal'}}) }}
                                <div class="form-group">
                                    <label for="email" class="cols-sm-2 control-label">Title</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                            {{ form_widget(create_form.title, {'attr': {'class': 'form-control', 'placeholder': "Title"}}) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="email" class="cols-sm-2 control-label">Source Link</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                            {{ form_widget(create_form.sources, {'attr': {'class': 'form-control', 'placeholder': "Source Link (Required)"}}) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="email" class="cols-sm-2 control-label">Description</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                            {{ form_widget(create_form.content, {'attr': {'class': 'form-control', 'placeholder': "Description / Exerpt"}}) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="email" class="cols-sm-2 control-label">Date Promised</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                            {{ form_widget(create_form.dateEvent, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        {{ form_widget(create_form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                    </div>
                    {{ form_end(create_form) }}
                </div>
            </div>
        </div>

  
{% endblock %}
		 
		 
{% block reference %}
		 
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">
				<img src="/lib/vertical-timeline/img/cd-icon-movie.svg" alt="Movie">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Title of section 2</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde?</p>
				<a href="#0" class="cd-read-more">Read more</a>
				<span class="cd-date">Jan 18</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="/lib/vertical-timeline/img/cd-icon-picture.svg" alt="Picture">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Title of section 3</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, obcaecati, quisquam id molestias eaque asperiores voluptatibus cupiditate error assumenda delectus odit similique earum voluptatem doloremque dolorem ipsam quae rerum quis. Odit, itaque, deserunt corporis vero ipsum nisi eius odio natus ullam provident pariatur temporibus quia eos repellat consequuntur perferendis enim amet quae quasi repudiandae sed quod veniam dolore possimus rem voluptatum eveniet eligendi quis fugiat aliquam sunt similique aut adipisci.</p>
				<a href="#0" class="cd-read-more">Read more</a>
				<span class="cd-date">Jan 24</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				<img src="/lib/vertical-timeline/img/cd-icon-location.svg" alt="Location">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Title of section 4</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
				<a href="#0" class="cd-read-more">Read more</a>
				<span class="cd-date">Feb 14</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				<img src="/lib/vertical-timeline/img/cd-icon-location.svg" alt="Location">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Title of section 5</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.</p>
				<a href="#0" class="cd-read-more">Read more</a>
				<span class="cd-date">Feb 18</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">
				<img src="/lib/vertical-timeline/img/cd-icon-movie.svg" alt="Movie">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Final Section</h2>
				<p>This is the content of the last section</p>
				<span class="cd-date">Feb 26</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
	</section> <!-- cd-timeline -->
{% endblock %}