<?xml version="1.0"?>
<rss version="2.0">
    {% set date_format = 'D, d M Y H:i:s T' %}
    <channel>
        <title>{{ feed_title }}</title>
        <link>{{ feed_link }}</link>
        <description>{{ feed_description }}</description>
        <language>{{ feed_lang }}</language>
        <pubDate>{{ feed_date|date(date_format) }}</pubDate>
        <lastBuildDate>{{ feed_date|date(date_format) }}</lastBuildDate>
        <generator>O'Leary Watch 1.0</generator>
        <webMaster>admin@olearywatch.com</webMaster>
        <ttl>{{ feed_ttl }}</ttl>
        {% for item in feed -%}
        <item>
            <title>{{ item.title }}</title>
            <link>{{ item.link }}</link>
            <description>{{ item.description|striptags }}</description>
            <pubDate>{{ item.dateAdded|date(date_format) }}</pubDate>
            <guid>{{ item.link }}</guid>
        </item>
        {% endfor -%}
    </channel>
</rss>