{% extends 'base.html.twig' %}

{% block meta %}
    {{ parent() }}
    <link rel="alternate" type="application/rss+xml" title="O'Leary Promise Tracker Feed" href="{{ path('main_rss') }}" />
    {% if app.user %}
        <link rel="alternate" type="application/rss+xml" title="O'Leary Promise Tracker Feed" href="{{ path('custom_feed', {token: app.user.email|base64}) }}" />
    {% endif %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("lib/bootstrap/dist/css/bootstrap.min.css") }}" />
    <link rel="stylesheet" href="{{ asset("lib/font-awesome/css/font-awesome.min.css") }}" />
    <link rel="stylesheet" href="{{ asset('stylesheets/global.css') }}" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("lib/jquery/dist/jquery.min.js") }}"></script>
    <script src="{{ asset("lib/bootstrap/dist/js/bootstrap.min.js") }}"></script>
    <script src="{{ asset('scripts/global.js') }}"></script>
{% endblock %}

{% block body %}

    {% block nav %}
        <nav class="navbar navbar-default navbar-static-top navbar-inverse">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('homepage') }}">O'Leary Watch</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        {#<li class="active"><a href="#">Dashboard <span class="sr-only">(current)</span></a></li>#}
                        <li><a href="{{ path('promises') }}">Promise Tracker</a></li>
                        {#<li><a href="#">Timeline of Events</a></li>#}
                        {#<li><a href="#">Latest News</a></li>#}
                        <li><a href="{{ path('forum_index') }}">Discuss</a></li>
                    </ul>
                    {% if app.user %}
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="{{ app.user|gravatar(20) }}" />
                                    <strong>{{ app.user.displayName }}</strong>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="navbar-login">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <p class="text-center">
                                                        <img src="{{ app.user|gravatar(85) }}" />
                                                    </p>
                                                </div>
                                                <div class="col-lg-8">
                                                    <p class="text-left"><strong>{{ app.user.displayName }}</strong></p>
                                                    <p class="text-left small">{{ app.user.email }}</p>
                                                    <p class="text-left">
                                                        <a href="#" class="btn btn-primary btn-block btn-sm">Profile</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider navbar-login-session-bg"></li>
                                    <li><a href="{{ path('profile_settings') }}">Account Settings <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{ path('custom_feed', {token: app.user.email|base64}) }}">My Feed <span class="badge pull-right"> {{ userRecentFeedCount(app.user) }} </span></a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{ path('promises', {favorites: true}) }}">Favourites <span class="glyphicon glyphicon-heart pull-right"></span></a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{ path('logout') }}">Sign Out <span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
                                </ul>
                            </li>
                        </ul>
                    {% else %}
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{{ path('register') }}">Be a Tracker!</a></li>
                            <li><a href="{{ path('login') }}">Login</a></li>
                        </ul>
                    {% endif %}
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    {% endblock nav %}

    <div class="container">
        {% for flash_message in app.session.flashBag.get('success') %}
            <div class="flash-notice">
                {{ flash_message }}
            </div>
        {% endfor %}

        {% for flash_message in app.session.flashBag.get('error') %}
            <div class="flash-notice">
                {{ flash_message }}
            </div>
        {% endfor %}

    {% block content %}{% endblock %}
    </div>

{% endblock %}

