<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            {% block header %}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="titleLabel">{{ modal_title }}</h4>
            {% endblock %}
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        <div class="modal-footer">
            {% block footer %}
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            {% endblock footer %}
        </div>
    </div>
</div>