{% extends "::layout.html.twig" %}

{% block content %}
    <div class="row visible-xs visible-sm" style="margin-bottom: 20px;">
        <div class="col-xs-12 ">
            {{ render(path('component_search')) }}
        </div>
    </div>

    <div class="col-md-12 hidden-xs hidden-sm column">
        <div class="row clearfix">
            <div class="col-md-3 column">
                <div class="panel panel-info">
                    <div class="panel-heading libreStatsPanelHeading">
                        <div class="panel-title">
                            <span>Days in Conservative Party</span>
                            <a class="fa fa-caret-down pull-right libreStatsPanelHeadingIcon" href="#user"
                               data-toggle="collapse"></a>
                        </div>
                    </div>
                    <div class="panel-body libreStatsPanelBody collapse in" id="user">
                        <div class="row clearfix libreStatsPanelRow">
                            <div class="col-md-8 column libreStatsPanelValueColumn">
                                <p class="libreStatsCount">
                                    {{ (date("Jan 18 2017").diff(date('now'))).days }}
                                </p>
                            </div>
                            <div class="col-md-4 column">
                                <span class="pull-right fa fa-users fa-5x libreStatsIcon"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 column">
                <div class="panel panel-info">
                    <div class="panel-heading libreStatsPanelHeading">
                        <div class="panel-title">
                            <span>Conservative Leader?</span>
                            <a class="fa fa-caret-down pull-right libreStatsPanelHeadingIcon" href="#uniqueVisitor"
                               data-toggle="collapse"></a>
                        </div>
                    </div>
                    <div class="panel-body libreStatsPanelBody collapse in" id="uniqueVisitor">
                        <div class="row clearfix libreStatsPanelRow">
                            <div class="col-md-8 column libreStatsPanelValueColumn">
                                <p class="libreStatsCount">No</p>
                            </div>
                            <div class="col-md-4 column">
                                <span class="pull-right fa fa-user fa-5x libreStatsIcon"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 column">
                <div class="panel panel-info">
                    <div class="panel-heading libreStatsPanelHeading">
                        <div class="panel-title">
                            <span>Days Conservative Leader</span>
                            <a class="fa fa-caret-down pull-right libreStatsPanelHeadingIcon" href="#sales"
                               data-toggle="collapse"></a>
                        </div>
                    </div>
                    <div class="panel-body libreStatsPanelBody collapse in" id="sales">
                        <div class="row clearfix libreStatsPanelRow">
                            <div class="col-md-8 column libreStatsPanelValueColumn">
                                <p class="libreStatsCount">0</p>
                            </div>
                            <div class="col-md-4 column">
                                <span class="pull-right fa fa-dollar fa-5x libreStatsIcon"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 column">
                <div class="panel panel-info">
                    <div class="panel-heading libreStatsPanelHeading">
                        <div class="panel-title">
                            <span>Prime Minister?</span>
                            <a class="fa fa-caret-down pull-right libreStatsPanelHeadingIcon" href="#activity"
                               data-toggle="collapse"></a>
                        </div>
                    </div>
                    <div class="panel-body libreStatsPanelBody collapse in" id="activity">
                        <div class="row clearfix libreStatsPanelRow">
                            <div class="col-md-8 column libreStatsPanelValueColumn">
                                <p class="libreStatsCount">No</p>
                            </div>
                            <div class="col-md-4 column">
                                <span class="pull-right fa fa-comments-o fa-5x libreStatsIcon"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item list-group-item">
                    <i class="fa fa-calendar fa-fw"></i>
                    <b>Days In Office:
                        <span id="days-in-office"><i class='loading'>0</i></span>
                    </b>
                </li>
                <li class="list-group-item list-group-item-info">
                    <i class="fa fa-hourglass-start fa-fw"></i>
                    Not Yet Started: <span>{{ counts.limbo }}</span> of <span>{{ counts.total }}</span>
                </li>
                <li class="list-group-item list-group-item-warning">
                    <i class="fa fa-cogs fa-fw"></i>
                    In Progress: <span>{{ counts.progress }}</span> of <span>{{ counts.total }}</span>
                </li>
                <li class="list-group-item list-group-item-success">
                    <i class="fa fa-check-circle-o fa-fw"></i>
                    Achieved:  <span>{{ counts.achieved }}</span> of <span>{{ counts.total }}</span>
                <li class="list-group-item list-group-item-danger">
                    <i class="fa fa-ban fa-fw"></i>
                    Broken:  <span>{{ counts.broken }}</span> of <span>{{ counts.total }}</span>
                </li>
            </ul>
            <p>
                On January 18th, 2017, Kevin O'Leary officially put in his name for the leadership of the <a href="https://en.wikipedia.org/wiki/Conservative_Party_of_Canada" target="_blank" rel="nofollow noreferrer">Conservative Party of Canada</a> in an attempt to eventually be elected Prime Minister of Canada.
                <br /><br />
                This website is a non-partisian information hub, tracker, and timeline of Mr. O'Leary's political career.
            </p>

            <div>
                <ul class="list-inline">
                    <li>
                        <a href="http://www.facebook.com/sharer.php?u=https://olearywatch.com/" target="_blank" style="color:#3b5998;">
                            <i class="fa fa-2x fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/share?url=https://olearywatch.com/" target="_blank" style="color:#dd4b39;">
                            <i class="fa fa-2x fa-google-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/share?url=https://olearywatch.com/&amp;text=Watch&nbsp;&commat;kevinolearytv&apos;s&nbsp;progress&nbsp;through&nbsp;the&nbsp;Conservative&nbsp;party&nbsp;with&nbsp;this&nbsp;tracker!.&amp;hashtags=OLearyWatch&amp;via=RedactedProfile" target="_blank" style="color:#1da1f2;">
                            <i class="fa fa-2x fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('main_rss') }}" target="_blank">
                            <i class="fa fa-2x fa-rss"></i>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="col-md-6">
            <div class="thumbnail" style="overflow: hidden; height: 450px;">
             <img src="http://cdn1.bostonmagazine.com/wp-content/uploads/2013/10/oleary-main.jpg" class="img-responsive center-block" alt="Donald Trump standing on a podium." />
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6">

        </div>
    </div>

{% endblock %}