.header {
    background: #8a8a8a;
}
.header .columns {
    padding-bottom: 0;
}
.header p {
    color: #fff;
    padding-top: 15px;
}
.header p.header-title {
    font-size: 35px;
    font-weight: 400;
}
.header p.header-title a {
    color: #FFFFFF;
}
.header .wrapper-inner {
    padding: 20px;
}
.header .container {
    background: transparent;
}
table.button.facebook table td {
    background: #3B5998 !important;
    border-color: #3B5998;
}
table.button.twitter table td {
    background: #1daced !important;
    border-color: #1daced;
}
table.button.google table td {
    background: #DB4A39 !important;
    border-color: #DB4A39;
}
.wrapper.secondary {
    background: #f3f3f3;
}