.forum.table > tbody > tr > td {
    /*vertical-align: middle;*/
}

.forum .fa {
    width: 1em;
    text-align: center;
}

.forum.table th.cell-stat {
    width: 6em;
}

.forum.table th.cell-stat-2x {
    width: 14em;
}
.forum .reply td {
    height: 100px;
    vertical-align: top !important;
}
.forum .reply td div.title {
    font-size: 16px;
    font-weight: 300;
}
.forum .reply td div.meta {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 10px;
    font-weight: 300;
}
.forum .reply td div.content {
    padding-top: 10px;
    font-size: 14px;
    font-weight: 300;
}
.forum .reply .profile {

}
.forum .reply .profile img {

}

.CodeMirror, .CodeMirror-scroll {
    min-height: 100px;
}