{% extends '::email.basic.html.twig' %}
{% set subtitle = "Validate Email" %}

{% block email_header %}
    <h1>Hi, {{ recipient.displayName }}</h1>
{% endblock %}
{% block email_body %}
    <p>We just need to validate your email address to confirm you're for real, and not just some robot. Please click the button below, and good times will be had by all.</p>
    <button class="large expand" href="{{ url('validate', {passwordToken: recipient.passwordToken}) }}">Validate My Email</button>
{% endblock %}