{% extends '::email.basic.html.twig' %}
{% set subtitle = "Title Change" %}

{% block email_header %}
    <h1>Hi, {{ recipient.displayName }}</h1>
{% endblock %}
{% block email_body %}
    <p>A promise on OLearyWatch.com that you have subscribed too has an updated description. The new text is showcased below in the hilighted area:</p>
    <callout class="primary">
        <p>{{ promise.description|nl2br }}</p>
    </callout>
{% endblock %}