{% extends '::email.basic.html.twig' %}
{% set subtitle = "Title Change" %}

{% block email_header %}
    <h1>Hi, {{ recipient.displayName }}</h1>
{% endblock %}
{% block email_body %}
    <p>A promise on OLearyWatch.com that you have subscribed too has an updated title. The new title is: <a href="{{ url('promises') }}#{{ promise.uid }}">{{ promise.title }}</a></p>
{% endblock %}