{% extends '::email.basic.html.twig' %}
{% set subtitle = "Promise Flagged" %}

{% block email_header %}
    <h1>Hi, {{ recipient.displayName }}</h1>
{% endblock %}
{% block email_body %}
    <p>A promise on <a href="{{ url('homepage') }}">OLearyWatch.com</a> that you have subscribed too has been Flagged.</p>
    <p>The Promise, <a href="{{ url('promises') }}#{{ promise.uid }}">{{ promise.title }}</a>, has been flagged as <strong>{{ reason }}</strong></p>
    <p>If you, valued tracker, feel this is in error, please make note over at the <a href="{{ url('topic', {forum_slug: promise.topic.forum.slug, topic_slug: promise.topic.slug}) }}">discussion topic</a></p>
{% endblock %}