{% form_theme flag_form 'form/captcha_layout.html.twig' %}
{% form_theme title_form 'form/captcha_layout.html.twig' %}
{% form_theme desc_form 'form/captcha_layout.html.twig' %}
{% form_theme create_form 'form/captcha_layout.html.twig' %}
{% form_theme status_form 'form/captcha_layout.html.twig' %}

{% extends '::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("stylesheets/promise.css") }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("scripts/promise.js") }}"></script>
    <script type="text/javascript" src="https://www.google.com/recaptcha/api.js?hl={{ app.request.locale }}&amp;onload=captchaCallback&amp;render=explicit" defer async></script>
{% endblock %}

{% block content %}
    <div class = "page-header">
        <h1>
            Promises <small>keeping track of Kevin's electorial vows.</small>
        </h1>
    </div>
    <div class="row hidden-md hidden-lg" style="margin-bottom: 25px;">
      <div class="col-md-6 pull-left">
          {{ render(path('component_search')) }}
      </div>
    </div>
    <div class="row">
      
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail hidden-xs hidden-sm" style="overflow: hidden; width: 100%;">
                <img src="{{ asset("images/oleary_promises.png") }}" />
            </div>
            <div class="list-group">
                {% set query = app.request.query.get('q') ? app.request.query.get('q') : null %}
                {% set category = app.request.query.get('category') ? app.request.query.get('category') : null %}
                {% set favorites = app.request.query.get('favorites') ? app.request.query.get('favorites') : null %}
                <a href="{{ path('promises', {favorites: favorites, filter: 'limbo', category: category, q: query}) }}" class="list-group-item list-group-item-info"><span class="badge">{{ counts.limbo }}</span> Show Only Not Yet Started</a>
                <a href="{{ path('promises', {favorites: favorites, filter: 'progress', category: category, q: query}) }}" class="list-group-item list-group-item-warning"><span class="badge">{{ counts.progress }}</span> Show Only In Progress</a>
                <a href="{{ path('promises', {favorites: favorites, filter: 'achieved', category: category, q: query}) }}" class="list-group-item list-group-item-success"><span class="badge">{{ counts.achieved }}</span> Show Only Achieved</a>
                <a href="{{ path('promises', {favorites: favorites, filter: 'broken', category: category, q: query}) }}" class="list-group-item list-group-item-danger"><span class="badge">{{ counts.broken }}</span> Show Only Broken</a>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row" style="margin-bottom: 25px;">
                <div class="col-md-6 pull-left hidden-xs hidden-sm">
                    {{ render(path('component_search')) }}
                </div>
                <div class="pull-right">
                    <a type="button" class="btn btn-primary " {% if app.user %}data-toggle="modal" data-target="#createPromise"{% else %}href="{{ path('login') }}"{% endif %}>
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Promise
                    </a>
                </div>
            </div>
          {% if app.request.query.get('favorites') %}
          <div class="row" style="margin-bottom: 0px">
            <div class="alert alert-info">
              <strong>FYI:</strong> This table is only showing your marked favorites (watched) promises. <strong><a href="{{ path('promises', {filter: 'limbo', category: category, q: query}) }}">Show All</a></strong>
            </div>
          </div>
          {% endif %}

            <div class="promise-tabs">
                <ul  class="nav nav-pills">
                    {% for category in categories %}
                        <li {% if loop.first %}class="active"{% endif %}><a href="#{{ category.title }}" data-toggle="tab">{{ category.title }}</a></li>
                    {% endfor %}
                </ul>
                <div class="tab-content clearfix">
                    {% for category in categories %}
                        <div class="tab-pane {% if loop.first %}active{% endif %}" id="{{ category.title }}">
                            <ul class="list-group">
                                {% for promise in category.promises %}
                                    <li class="promise list-group-item
                                        {{ { 1: "",
                                             2: "list-group-item-info",
                                             3: "list-group-item-success",
                                             4: "list-group-item-danger"
                                        }[promise.status] }}">

                                        <span class="pull-right tools">

                                            <button type="button" class="btn btn-link flag-toggle" data-id="{{ promise.id }}">
                                                <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                                            </button>

                                            {% if app.user %}
                                                <div class="btn-group btn-group-sm" role="group">
                                                    <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        {% if promise in app.user.watchPromise %}
                                                            <li><a href="{{ path('promise_unwatch', {promise: promise.id}) }}" class="unwatch">Unwatch</a></li>
                                                        {% else %}
                                                            <li><a href="{{ path('promise_watch', {promise: promise.id}) }}" class="unwatch">Watch</a></li>
                                                        {% endif %}
                                                        <li><a href="javascript:void(0);" class="add_source" data-id="{{ promise.id }}">Add Source</a></li>
                                                        <li><a href="javascript:void(0);" class="change_title" data-id="{{ promise.id }}" data-value="{{ promise.title }}">Change Title</a></li>
                                                        <li><a href="javascript:void(0);" class="change_description" data-id="{{ promise.id }}" data-value="{{ promise.description }}">Change Description</a></li>
                                                        <li><a href="javascript:void(0);" class="change_status" data-id="{{ promise.id }}" data-status="progress">Set to In Progress</a></li>
                                                        <li><a href="javascript:void(0);" class="change_status" data-id="{{ promise.id }}" data-status="achieved">Set to Achieved</a></li>
                                                        <li><a href="javascript:void(0);" class="change_status" data-id="{{ promise.id }}" data-status="broken">Set to Broken</a></li>
                                                    </ul>
                                                </div>
                                            {% endif %}
                                        </span>
                                        {% if app.user in promise.watchers %}
                                          <img src="{{ asset('images/fav.png') }}" data-toggle="tooltip" style="height: 15px; display: inline-block;" title="Favorite" />
                                        {% endif %}
                                        <a href="javascript:void(0);" class="view_promise" data-id="{{ promise.id }}">{{ promise.title }}</a>
                                        {# other sources #}
                                        <sub><a href="{{ promise.sourceLink }}" target="_blank" rel="nofollow noreferrer">[source]</a>  {% for source in promise.additionalSources %}<a href="{{ source }}" target="_blank" rel="nofollow noreferrer">[{{ loop.index }}]</a>{% endfor %}</sub>
                                        <br />
                                        <div>
                                            {% for user in promise.contributors %}
                                                <img src="{{ user|gravatar(15) }}" data-toggle="tooltip" data-placement="bottom" title="{{ user.displayName }}" />
                                            {% endfor %}
                                        </div>

                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% else %}
                        Nothing matches your search
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


    <!-- Modals -->
    <div class="modal fade" id="promise" tabindex="-1" role="dialog" aria-labelledby="flagLabel"></div>


    <div class="modal fade" id="flag" tabindex="-1" role="dialog" aria-labelledby="flagLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="flagLabel">Flag Content</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_start(flag_form, {'attrs': {'class': 'form-horizontal'}}) }}
                            <div class="form-group">
                                <label for="email" class="cols-sm-2 control-label">Title</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                        {{ form_widget(flag_form.reason, {'attr': {'class': 'form-control', 'placeholder': "Title"}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group ">
                                {{ form_widget(flag_form.promise, {'attr': {'class': 'flagged_promise'}}) }}
                                {{ form_widget(flag_form.recaptcha) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    {{ form_widget(flag_form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                    {{ form_end(flag_form) }}
                </div>
            </div>
        </div>
    </div>

    {# Only render these forms to those logged in #}
    {% if app.user %}

        <div class="modal fade" id="title" tabindex="-1" role="dialog" aria-labelledby="titleLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="titleLabel">Update Title</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_start(title_form, {'attrs': {'class': 'form-horizontal'}}) }}
                                <div class="form-group">
                                    <label for="email" class="cols-sm-2 control-label">Title</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                            {{ form_widget(title_form.title, {'attr': {'class': 'form-control update_title', 'placeholder': "Title"}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    {#{{ form_widget(title_form.recaptcha) }}#}

                                    {{ form_widget(title_form.promise, {'attr': {'class': 'chosen_promise'}}) }}

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        {{ form_widget(title_form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                        {{ form_end(title_form) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="description" tabindex="-1" role="dialog" aria-labelledby="titleLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="titleLabel">Update Status</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_start(desc_form, {'attrs': {'class': 'form-horizontal'}}) }}
                                <div class="form-group">
                                    <label for="email" class="cols-sm-2 control-label">Title</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                            {{ form_widget(desc_form.description, {'attr': {'class': 'form-control update_description', 'placeholder': "Title"}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    {{ form_widget(desc_form.promise, {'attr': {'class': 'chosen_promise'}}) }}
                                    {#{{ form_widget(desc_form.recaptcha) }}#}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        {{ form_widget(desc_form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                        {{ form_end(desc_form) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="status" tabindex="-1" role="dialog" aria-labelledby="titleLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="titleLabel">Update Status</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_start(status_form, {'attrs': {'class': 'form-horizontal'}}) }}
                                <div class="form-group">
                                    <label for="email" class="cols-sm-2 control-label">Reference Url</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                            {{ form_widget(status_form.resolution, {'attr': {'class': 'form-control', 'placeholder': "Please provide a URL proving this status change"}}) }}
                                        </div>
                                    </div>
                                    <small>Just a point of proof for this status</small>
                                </div>
                                <div class="form-group ">
                                    {{ form_widget(status_form.promise, {'attr': {'class': 'chosen_promise'}}) }}
                                    {{ form_widget(status_form.status, {'attr': {'class': 'chosen_status'}}) }}
                                    {#{{ form_widget(status_form.recaptcha) }}#}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        {{ form_widget(status_form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                        {{ form_end(status_form) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="createPromise" tabindex="-1" role="dialog" aria-labelledby="createPromiseLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="createPromiseLabel">Add New Promise</h4>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-12">
                                {{ form_start(create_form, {'attrs': {'class': 'form-horizontal'}}) }}
                                <div class="form-group">
                                    <label for="email" class="cols-sm-2 control-label">Title</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                            {{ form_widget(create_form.title, {'attr': {'class': 'form-control', 'placeholder': "Title"}}) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="email" class="cols-sm-2 control-label">Category</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                            {{ form_widget(create_form.category, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="email" class="cols-sm-2 control-label">Source Link</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                            {{ form_widget(create_form.source_link, {'attr': {'class': 'form-control', 'placeholder': "Source Link (Required)"}}) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="email" class="cols-sm-2 control-label">Description</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                            {{ form_widget(create_form.description, {'attr': {'class': 'form-control', 'placeholder': "Description / Exerpt"}}) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="email" class="cols-sm-2 control-label">Date Promised</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                            {{ form_widget(create_form.date_promised, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group ">
                                    {{ form_widget(create_form.recaptcha) }}
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        {{ form_widget(create_form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                    </div>
                    {{ form_end(create_form) }}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}