{% extends '::layout.modal.html.twig' %}

{% block body %}
    {{ form_start(desc_form, {'attrs': {'class': 'form-horizontal'}}) }}
    <div class="form-group">
        <label for="email" class="cols-sm-2 control-label">Title</label>
        <div class="cols-sm-10">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                {{ form_widget(desc_form.description, {'attr': {'class': 'form-control update_description', 'placeholder': "Title"}}) }}
            </div>
        </div>
    </div>
    <div class="form-group ">
        {#{{ form_widget(desc_form.promise, {'attr': {'class': 'chosen_promise'}}) }}#}
        {{ form_widget(desc_form.recaptcha) }}
    </div>
{% endblock %}

{% block footer %}
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    {{ form_widget(desc_form.save, {'attr': {'class': 'btn btn-primary'}}) }}
    {{ form_end(desc_form) }}
{% endblock %}