{% extends '::layout.modal.html.twig' %}

{% block body %}
    {% if promise.flags %}
    <div class="alert alert-danger" role="alert">Please Note, that this Promise has been flagged by the community and is under review by administration.</div>
    {% endif %}
    <div class="alert {{ { 1: "",
                            2: "alert-info",
                            3: "alert-success",
                            4: "alert-danger"
                        }[promise.status] }}">
        Status: {{ { 1: "This has been Promised, But not yet started.",
                      2: "This promise is in Progress",
                      3: "This promise has been Achieved / Fulfilled",
                      4: "This promise has been Broken"
                    }[promise.status] }}</div>

    {% if promise.topic %}
    <div><a href="{{ path('topic', {forum_slug: promise.topic.forum.slug, topic_slug: promise.topic.slug}) }}">Promise Discussion</a></div>
    {% endif %}
    <div><h4>Description</h4></div>
    <div class="well">{{ promise.description|markdown }}</div>

    <div>Sources: <a href="{{ promise.sourceLink }}" target="_blank" rel="nofollow noreferrer">[Main]</a>  {% for source in promise.additionalSources %}<a href="{{ source }}" target="_blank" rel="nofollow noreferrer">[{{ loop.index }}]</a>{% endfor %}</div>

    <div>Contributors:
        {% for user in promise.contributors %}
            <img src="{{ user|gravatar(15) }}" data-toggle="tooltip" data-placement="bottom" title="{{ user.displayName }}" />
        {% endfor %}
    </div>

    <script>
        $('[data-toggle="tooltip"]').tooltip();
    </script>
{% endblock %}