{% extends '::layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">

                {% if error %}
                    <div>{{ error.message }}</div>
                {% endif %}

                <form method="post" class="form-horizontal">

                    <div class="form-group">
                        <label for="email" class="cols-sm-2 control-label">Your Email</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                <input type="text" name="_username" class="form-control" placeholder="Email" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="username" class="cols-sm-2 control-label">Password</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                <input type="password" name="_password" class="form-control" placeholder="Password" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Login</button>
                    </div>
                    <div class="login-register">
                        <a href="{{ path('login') }}">Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}