{% extends '::layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                {{ form_start(form, {'attrs': {'class': 'form-horizontal'}}) }}

                    <div class="form-group">
                        <label for="email" class="cols-sm-2 control-label">Your Email</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': "Your Email"}}) }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="username" class="cols-sm-2 control-label">Username</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                {{ form_widget(form.display_name, {'attr': {'class': 'form-control', 'placeholder': 'Display Name (optional)'}}) }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password" class="cols-sm-2 control-label">Password</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                {{ form_widget(form.password.first, {'attr': {'class': 'form-control', 'placeholder': 'Password'}}) }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                {{ form_widget(form.password.second, {'attr': {'class': 'form-control', 'placeholder': 'Confirm Password'}}) }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        {{ form_widget(form.recaptcha) }}
                        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary btn-lg btn-block login-button'}}) }}
                    </div>
                    <div class="login-register">
                        <a href="{{ path('login') }}">Login</a>
                    </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}